@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');
.addbook-container{
    height: 100vh;
    width: 100vw;
    margin-top: 0;
    overflow-y: auto;
}
.main-addbook {
    margin-top: 10vh;
    min-height: 85vh;
    flex-shrink: 0;
}
.add {
    font-family: 'Frank Ruhl Libre', serif;
    color: #efebe5;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #191b1c;
    width: calc(100vw - 30rem);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
}
body {
    background-color: #2B2D30;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    overflow-y: auto;
}
.addbook{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#547838;
    text-decoration: none;
    font-family:'Frank Ruhl Libre',serif;
    font-size:22px;
    overflow-y: auto;
    margin-bottom: 2rem;
}
.form-addbook{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    overflow: auto;
    height: auto;
    position: relative;
    z-index: 1;
}
#author,#title,#ISBN, #date,#language,#description, #publisher, #categories{
    background-color:#efebe5;
    opacity: 0.55;
    width: 24vw;
    height: 7vh;
    color: #0A0805;
    font-family:'Roboto', serif;
    font-size:24px;
}
#title::placeholder, #author::placeholder,#ISBN::placeholder , #date::placeholder, #language::placeholder, #description::placeholder, #publisher::placeholder, #categories::placeholder {
    color:#0A0805;
    font-family:'Roboto', serif;
    font-size:24px;
}
.date-picker-container {
    background-color: #efebe5;
    opacity: 0.55;
    width: 24.3vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-sizing: border-box;
    padding: 0.5rem;
}
.custom-date-picker input {
    background-color: #efebe5;
    opacity: 0.55;
    width: 24vw;
    height: 7vh;
    border: none;
    font-size: 24px;
    font-family: 'Roboto', serif;
    color: #0A0805;
    text-align: center;
}
#add-button{
    background-color: #547838;
    color: #0A0805;
    font-family:'Frank Ruhl Libre',serif;
    border: none;
    border-radius: 0px;
    font-size:24px;
    width: 24vw;
    height: 7vh;
    margin-top: 10vh;
}
.error {
    border: 2px solid red;
}
.custom-date-picker {
    background-color:#efebe5;
    opacity: 0.55;
    width: 24vw;
}

@media (max-width: 900px) {
    body {
        width: calc(100vw - 1px);
    }

    .main-addbook {
        height: auto;
        margin-bottom: calc(10vh + 10px);
        margin-top: 5vh;
        width: calc(100vw - 1px);
    }
    .add{
        width: 100%;
    }
    #author,#title,#ISBN, #date,#language,#description{
        width: 90vw;
    }
    #add-button{
        width: 90vw;
        margin-top: 5vh;
    }
    .custom-date-picker {
        width: 91vw;
    }
}