
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');

/* naglowek */
/* srodek */
.profile-container{
    height: 100vh;
    width: 100vw;
    margin-top: 0;
    overflow-y: auto;
}
.main-profile {
    margin-top: 10vh;
    min-height: 85vh;
    flex-shrink: 0;
}

body {
    background-color: #2B2D30;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0%;
    min-height: 100vh;
    overflow-y: auto;
}

.profile {
    font-family: 'Frank Ruhl Libre', serif;
    color: #efebe5;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #191b1c;
    width: calc(100vw - 30rem);
    margin: 0 auto;
}

.news-profile {
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.profilepic {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-image {
    margin: 20px;
}

.name-profile,
.email-profile {
    width: 50vw;
    font-size: 30px;
    font-family: 'Frank Ruhl Libre', serif;
    color: #efebe5;
    font-weight: 400;
    display: flex;
    border-bottom: 1px solid #191b1c;
    padding: 5px;
}

.logout-profile {
    background-color: #547838;
    color: #0A0805;
    width: 12vw;
    height: 6vh;
    font-size: 20px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 400;
    margin-top: 10px;
    padding: 5px;
    text-decoration: none;
    border: none;
    border-radius: 0;
}
.rated-books-button:hover{
    color: #74a34f;
}
.logout-profile:hover{
    background-color: #bc2121;
}
.rated-books-button{
    background-color: #2B2D30;
    color: #efebe5;
    width: 15vw;
    height: 8vh;
    font-size: 20px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 400;
    margin-top: 10px;
    padding: 5px;
    text-decoration: none;
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
/* stopka */

@media (max-width: 900px) {

    body {
        width: 100vw;
    }

    .profile {
        display: none;
    }


    .main-profile {
        height: auto;
        width: 100vw;
    }

    .main-profile > .profile {
        width: 100vw;
        height: 10vh;
        font-size: 40px;
        position: fixed;
        top: 0;
        margin-top: 0px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .news-profile {
        margin-left: 10%;
        width: 80%;
        min-height: calc(100% + 1px);
    }

    .name-profile,
    .email-profile,
    .logout-profile {
        width: 370px;
        font-size: 25px;
        margin-right: 0;
    }
}