@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');
.search-container{
    height: 100vh;
    width: 100vw;
    margin-top: 0;
    overflow-y: auto;
}
.main-search {
    margin-top: 10vh;
    min-height: 85vh;
    flex-shrink: 0;
  }
  
  body {
    background-color: #2B2D30;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0%;
    min-height: 100vh;
    overflow-y: auto;
  }
.categories-list {
  width: calc(100vw - 30rem);
  display: flex;
  flex-direction: column;
  margin: 1% auto 0;
}
.categories-list h3 {
  text-align: center;
  font-family: 'Frank Ruhl Libre', serif;
  color: #efebe5;
  font-weight: 400;
  font-size: 24px;
}
.all-categories{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.category-item {
  font-family: 'Frank Ruhl Libre', serif;
  padding: 10px 15px;
  border: 1px solid  #547838;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #efebe5;
  text-align: center;
  cursor: pointer;
  flex: 0 1 calc(25% - 10px);
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.category-item:hover {
  background-color:  #547838;
  color: #0A0805;
}
.search-items{
  width: calc(100vw - 54vw);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  font-size: 24px;
  color: #efebe5;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 400;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #191b1c;
  padding-left: 1%;
}
  .search {
    font-family: 'Frank Ruhl Libre', serif;
    color: #efebe5;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #191b1c;
    width: calc(100vw - 30rem);
    margin: 0 auto;
  }
.book-cover {
  width: 120px;
  height: 160px;
}
.cover-search{
  margin-right: 1%;
}

.search-link {
  text-decoration: none !important;
}
.search-item-container{
  width: calc(100vw - 30rem);
  margin: 0 auto;
}
  @media (max-width: 900px) {
    body {
      width: calc(100vw - 1px);
    }
    .search{
        width: 100%;
        margin: 0;
    }
    .main-search {
      height: auto;
      margin-bottom: calc(10vh + 10px);
      margin-top: 5vh;
      width: calc(100vw - 1px);
    }
    .search-items{
      width: calc(100vw - 1px);
    }
    .search-item-container{
      width: calc(100vw - 1px);
      margin: 0 auto;
    }
    .categories-list {
      width: calc(100vw - 1px);
      display: flex;
      flex-direction: column;
      margin: 1% auto 0;
    }
    .all-categories{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;
      justify-content: center;
    }
  }