.news-container-toread > .book-link > img{
    width: 120px;
    height: 160px;
    margin-bottom: 1%;
    margin-top: 1%;
}

.news-container-toread{
    height: 200px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #191b1c;
    justify-content: space-between;
}

.remove-button{
    top: 30%;
    right: 1rem; 
}
.rating-section{
    margin-top: 3%;
    margin-right: 5%;
}
.news-description-toread {
    margin-left: 1%;
    flex-grow: 1;
}
.news-description-toread h3 {
    margin-top: 0;
    margin-bottom: 0; 
    color: #efebe5;
    font-size: 30px;
    font-family:'Frank Ruhl Libre', serif;
    font-weight: 400;
}
.news-description-toread p {
    margin-top: 0;
    color: #efebe5;
    font-size: 20px;
    font-family:'Frank Ruhl Libre', serif;
    font-weight: 400;
}

.form-toread{
    display: flex;
    align-items: center;
}



@media (max-width: 900px) {
    .news-container-toread > img{
        width: 100px;
        height: 129px;
        margin-left: 10px;
    }
    .news-description-toread h3 {
        font-size: 20px;
    }
    .news-description-toread p {
        font-size: 12px;
    }
    .form-toread{
        margin-right: 1%;
    }
    #remove-button{
        width: 130px;
        height: 50px;
        margin-top: 0px;
        font-size: 15px;
    }
    .remove-button{
       margin-top: 10%;
    }
}